.markdown {
    white-space: pre-wrap;

    a {
        color: var(--chakra-colors-blue-500);
        font-weight: bold;
    }

    h4 {
        font-family: var(--chakra-fonts-heading);
        font-weight: var(--chakra-fontWeights-bold);
    }
}